*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color:#fff5d7;
    color:  #ff5e6c
}
.container{
        height: 100vh;
        width: 100vw;
        border: 1px black solid;
        display: flex;
        align-items:center;
        justify-content: center;
         flex-direction: column;
         justify-content: space-around;
       
}
h1{
    font-size:3rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#main_container{
    height: 37%;
    width: 55%;
    border: 1px solid black; border-radius:5px;
    display:flex;
    background-color:rgb(31, 31, 31);
    justify-content:center;
    justify-content: space-evenly;
    padding:50px;
    /* margin-top:12rem; */
}

.box{
    height: 75%;
    width:15%;
    display:flex;
    flex-direction:column;
    border:black solid 1px;
   
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #3a4660; 
    color:#faf3e1;
    border-radius:5px;
    font-size:2rem;
    box-shadow:2px 4px 4px white;
    

}
.box span{
   font-size:5rem;
   text-shadow: 1px 1px 2px black;
}
.progress_container{
    height:1rem;
    width: 75%;
    border: 2px solid #7c869b;
    overflow:hidden;
    border-radius: 10px;
}  
#progress_bar{
    height:100%;
    width: 0%;
    background-color: greenyellow;
    border-radius: 10px;transition:width .0001 ease;
  
}

.progress{
    font-size:3rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    position:relative;
    right:8rem;
    right: 13rem; 
    left: 12rem;
}


   


